<div class="active-scaffold-header">
  <h2>Welcome!</h2>
</div>
<p>Welcome to the <%= HHD::Config.client_name %> content management system.</p>
<p>To get started, just click on the relevant link on the navigation to the left.</p>
<p>Yours,<br /><a href="http://www.hardhatdigital.com.au" target="_blank">Hardhat Digital</a></p>
