<h1>Your Purchases</h1>

<%- unless @order.purchases.blank? -%>
<ul id="purchases">
  <%- for purchase in @order.purchases -%>
  <li>
    <span class="quantity"><%= purchase.quantity %></span>
    <span class="name"><%= link_to purchase.name, purchase.purchasable %></span>
    <span class="sub_total"><%= number_to_currency purchase.sub_total %></span>
  </li>
  <%- end -%>
</ul>
<%- end -%>

<p>Total: <%= number_to_currency @order.total %></p>

