<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Hard Hat Digital Rails template</title>
  </head>
  <body>
    <h1>Welcome to the template!</h1>
    <p>You are looking at the Homepage, located in <strong>./app/views/static/index.html.erb</strong></p>
    <p>You should delete me along with the application layout and add your own view here!</p>
    <h2>Administration</h2>
    <p>If you've run migrations and seeded the database (<strong>rake db:seed</strong>), you can <a href="/admin">check out the CMS</a> with your test username/password.</p>
  </body>
</html>
