<h2>Cameras</h2>

<%- unless @cameras.blank? -%>
  <ol id="cameras">
    <%- for camera in @cameras -%>
    <li>
      <h2 class="model"><%= link_to camera.model, camera %></h2>
      <span class="price"><%= number_to_currency camera.price %></span>
    </li>
    <%- end -%>
  </ol>
<%- end -%>
