<h2 id="model"><%= @camera.model %></h1>

<p><%= link_to "Back to cameras", cameras_path %></p>

<p id="price"><%= number_to_currency @camera.price %></p>

<div id="description">
<%= simple_format @camera.description %>
</div>

